<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rescue Makati</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="stylesheet" href="/styles/tuktuk.css">
    <link rel="stylesheet" href="/styles/tuktuk.theme.mock.css">
    <!-- TUKTUK.WIDGETS -->
    <link rel="stylesheet" href="/styles/tuktuk.icons.css">
    <link rel="stylesheet" href="/styles/jquery.pnotify.default.css">
    <link rel="stylesheet" href="/styles/jquery.pnotify.default.icons.css">
    <style>
        aside > header .logo {
            margin-top: 10px;
            max-height: 30px; }

        aside footer img {
          height: 16px;
          position: relative;
          top: 5px;
          left: 2px; }

        .thumb {
            height: 96px;
            margin-bottom: 2.5em;
            text-align: center;
            line-height: 96px;
        }
        .column_4.thumb {
            height: 220px;
            line-height: 220px;
        }
        #map-canvas, #table-canvas {
          height: 577px;
          width:100%;
          margin: 0px;
          padding: 0px
        }
        .alert-title{
          
          margin-bottom: -20px;
        }
        .bg{
            background: white;
        }

    </style>
</head>
<body data-tuktuk="boxes">
    <!--Side Bar -->

    <!--Shown Side Bar -->
    <aside class="column_3">
        <header class="bck color text center ">
            <h3 class="color white"><strong>Rescue</strong> Makati </h3>
            <!-- img src="../images/logo-white.png" class="logo on-left"/> -->
            
        </header>
        
        <header class="bck dark">

                <h5 class="text normal align center"><span class="icon group"></span> Mobile App Users</h5>

        </header>

        <!-- <header class="bck dark">
        <form>
          
        </form>
        </header> -->
        
        <header class="bck theme">
            <h4 class="text center" ><span  class="icon filter"></span>Set <strong>Filters</strong></h4>
        </header>
        <article class="bck dark scroll" style="height:-30px;">
            <br>
            <form id="filter-form">
                <strong style="margin-left:15px;">Status:</strong>
                <br/>
                <div class="text center">
                <span class="select margin-left margin-right" >
                    <select class="status-select" style="">
                       
                        <option value="all">All</option>
                        <option value="active">Active</option>
                        <option value="blocked">Blocked</option>
                    </select>
                </span>
                </div>
                <br/>
                <div class="text center">
                <span class="margin-left margin-right" style="">
                <button class="button anchor alert viewuser-btn" style="margin-bottom:20px; width:200px;">View</button>
                </span>
                </div>
            </form>
            
        </article>
       
        


        <footer class="bck color text center" style="padding:5px;">
             Handcrafted by <a href="http://tapquo.com" class="display inline"><img src="http://cdn.tapquo.com/images/logo_footer.png"/></a>
            
        </footer>
    </aside>



    <!-- Main Content -->

    <section>
        <header style="background:#ECF0F1;">
            <h3 class="on-left text thin">Mobile Emergency Response Application</h3>
            <nav class="on-right">
                <span>Welcome Admin</span>
                <button onclick="Javascript:location.href='/admin/flush'" class="tiny secondary"><span class="icon signout"></span> Logout</button>
                <button class="tiny secondary" data-tuktuk-modal="settings"><span class="icon cog"></span></button>
                
            </nav>
        </header> 
        <article id="content-wrapper"  class="scroll">
           
             <div id="table-canvas"  style="padding:20px;">
                  <table class="user-table" style="text-align:center;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Status</th>
                            <th>Request</th>
                        </tr>
                    </thead>
                    <tbody class="user-tbody">
                        <% for(var i in users ){ %>
                          <tr class="user-row" data-id="<%= users[i].id %>">
                            <td><%= users[i].firstname+" "+users[i].lastname %></td>
                            <td><%= users[i].email %></td>
                            <td><%= users[i].mobile %></td>
                            <td><select class="status-change" value="<%= users[i].status %>">
                                <% if (users[i].status == "active"){ %>
                                    <option value="active">Active</option>
                                    <option value="blocked">Blocked</option>
                                <%}else{%>
                                    <option value="blocked">Blocked</option>
                                    <option value="active">Active</option>
                                   
                                <%}%>
                            </select></td>
                            <td><button  data-tuktuk-modal="modal" class='btn tiny view-record-btn' data-id='<%= users[i].id %>'>View Records</button></td>
                          </tr>
                        <% }%>
                    </tbody>
                 </table> 
                 <div id="paging"></div>
             </div>
        </article>

        <footer class="bck light">
            <nav class="on-left text bold" data-tuktuk="menu">
                <a href="/admin" ><span class="icon bell-alt"></span> Incoming Alerts</a>
                <a href="/admin/record" ><span class="icon eye-open"></span> View Records</a>
                <a href="#"><span class="icon road"></span> Track Units</a>
                <a href="/admin/user" class="active"><span class="icon group"></span> Mobile App Users</a>
                
            </nav>
          
            
        </footer>
    </section>

    <!-- Modal-->
    <div id="modal" data-tuktuk="modal" class="column_8">
        <header>
            <h4 class="text book inline">User Request Log</h4>
            <button data-modal="close" class="transparent small on-right inline icon remove"></button>
        </header>
        <article>
           <table style="text-align:center;" id="request-log-table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Address</th>
                        <th>Request</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
           </table>
        </article>
    </div>

    <!-- Aside Right -->
    <div id="settings" data-tuktuk="modal" class="side column_5">
        <header>
            <h4 class="inline text book"><span class="icon cogs"></span> Settings</h4>
            <button data-modal="close" class="transparent small on-right inline icon remove" onclick="JavaScript:location.reload();"></button>
        </header>
        <article class="scroll">
          <strong class="text thin" style="font-size:28px;">Access</strong>
          <form class="">
            <label>Username</label>
            <span style="position:relative; display:block;">
            <input class="username-settings" type="text" style="display:inline; width:70%;">
            <button class="thin secondary change-btn" data-field="username" style="display:inline;">Change</button>
            </span>
            <label>Password</label>
            <span style="position:relative; display:block;">
            <input class="password-settings" type="password" value="" style="display:inline; width:70%;">
            <button class="thin secondary change-btn" data-field="password" style="display:inline;">Change</button>
            </span>
            <label>Email</label>
            <span style="position:relative; display:block;">
            <input class="email-settings" type="email" style="display:inline; width:70%;">
            <button class="thin secondary change-btn" data-field="email" style="display:inline;">Change</button>
            </span>
          </form>
          <span class="change-alert" style="text-align:center; font-size:20px; padding:20px; position:relative; display:block;">Successfully Updated</span>
        </article>
        <footer class="bck light">
            &nbsp;
        </footer>
    </div>
    <script src="/js/jquery-2.0.0.min.js"></script>
    <script src="/js/tuktuk.js"></script>
    <script src="/js/jquery.playSound.js"></script>
    <script src="/js/jquery.pnotify.js"></script>
    <script src="/js/pagination.js"></script>
    <script>
        TukTuk.Modal.loading();
        setTimeout( TukTuk.Modal.hide, 1000);
    </script>

    <script type="text/javascript">
    //pagination
    // (function() {

    //     var paginator = new pagination.ItemPaginator({prelink:'/admin/user', current: 1, rowsPerPage: 10, totalResult: 50});
    //     // var html = paginator.render();
    //     paginator = pagination.create('search', {prelink:'/admin/user', current: 1, rowsPerPage: 10, totalResult: 50});
    //     html = paginator.render();
    //     document.getElementById("paging").innerHTML = html;
    // })();
    </script>
   <script type="text/javascript">

            jQuery(function($){

                $(".status-change").change(function(){
                    status = $(this).val();
                    userid = $(this).parent().parent().data('id');
                    $.ajax({
                        url  :   "/user/changestatus",
                        type :   "GET",
                        data :   {status : status, userid : userid},
                        success : function(data){
                           if(data){
                            location.reload();   
                           }
                        }
                    });
                });
               
                
                $(".viewuser-btn").click(function(e){
                    e.preventDefault();
                    status = $(".status-select").val();
                    location.href = "/admin/user?status="+status;
                });
                
                $(".view-record-btn").click(function(e){
                    e.preventDefault();
                    $("#request-log-table tbody tr").remove();
                    userid = $(this).data('id');
                    $.ajax({
                        url : "/request/user",
                        type : "GET",
                        data : {userid : userid},
                        success : function(data){
                            console.log(data.request);
                            request = data.request;
                            for(var i in request){
                                 var date = new Date(request[i].createdAt);
                                 var hour = date.getHours();
                                 var min = date.getMinutes();
                                 var sec = date.getSeconds();
                                 if(min<10){
                                    min = '0'+min;
                                    
                                 }
                                 if(sec<10){
                                    sec = '0'+sec;
                                 }
                                 var timenow = hour + ":" + min + ":" + sec;
                                 var year = date.getFullYear();
                                 var month = date.getMonth()+1;

                                 var day = date.getDate();
                                 if(month < 10 ){
                                   
                                    month = '0'+month;
                                 }
                                 if(day < 10){
                                    day = '0'+day;
                                 }
                                var datenow = year + "-" + month + "-" + day;
                                var datetime = datenow + " | " + timenow;
                                $("#request-log-table tbody").append("<tr>"+
                                                                     "<td>"+datenow+"</td>"+
                                                                     "<td>"+timenow+"</td>"+  
                                                                     "<td>"+request[i].address+"</td>"+
                                                                     "<td>"+request[i].request+"</td>"+
                                                                     "<td>"+request[i].status+"</td>"+ 
                                                                     "</tr>");
                            }
                            
                        }
                    });
                });


            });

     </script>


</body> 
</html>
